* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
}

span {
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 1.8rem;
}

p {
    font-weight: 300;
    margin-bottom: .8rem;
}

.puzzle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.button {
    background: #7044a0;
    border: none;
    border-bottom: 2px solid #603a88;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease, color .3s ease;
}

.button:hover {
    background: #5F3A87;
}

.guessed {
    margin: 2% 0;
    text-align: center;
}

.guessed-letters {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    width: 50%;
    margin-bottom: 2.5%;
    margin-left: 25%;
}

.hangman-image {
    margin: 3% 0%;
    display: flex;
    justify-content: space-between;
}

.mobile-only {
    display: inline-block;
    width: 40px;
}

#mobile {
    display: inline-block;
    width: 40px;
    vertical-align: top;
    margin-top: 25%;
    margin-left: 15%;
}

.margin {
    margin-left: 5%;
    margin-right: 4%;
    width: 50vh;
}

.divider {
    width: 100%;
    height: 35px;
}

.button-container {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
}

.button-difficulty {
    flex-basis: 23%;
}

.img-src {
    height: 200px;
    width: 150px !important;
    flex-basis: 46%;
}

.keyboard-span {
    flex-basis: 46%;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.key-style {
    flex-basis: 30%;
    margin-bottom: 3%;
    border-radius: 0px;
    text-decoration: none;
    background: transparent;
    border: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.key-style:hover {
    background-color: white;
    color: black;
}

.last-key-style {
    flex-basis: 48%;
}

.hangman-image>span {
    border-bottom: none;
}


@media only screen and (min-width: 600px) {
    .mobile-only {
        margin-bottom: 5%;
        display: none;
    }

    .margin {
        margin-left: 5%;
        margin-right: 4%;

    }

    .puzzle {
        flex-wrap: nowrap;
    }

    .divider {
        width: 28px;

    }

    .button-container {
        display: inline-block
    }

    .img-src {
        display: block;
        margin-left: 1px;
        margin-right: none;
    }

    #mobile {
        display: none;
    }

    .keyboard {
        display: none;
    }

    .keyboard-span {
        display: none;
    }

    body {
        min-height: 100vh;
    }

    span {
        width: 2.4rem;
    }
}